
snippet // "/** quanquan **/"
	/**
	 * @File Name       $TM_FILENAME_BASE
	 * @Created Time    $CURRENT_YEAR/$CURRENT_MONTH/$CURRENT_DATE $CURRENT_HOUR:$CURRENT_MINUTE:$CURRENT_SECOND <$CURRENT_DAY_NAME>
	 * @Last Modified:  $CURRENT_YEAR/$CURRENT_MONTH/$CURRENT_DATE $CURRENT_HOUR:$CURRENT_MINUTE:$CURRENT_SECOND <$CURRENT_DAY_NAME>
	 * @Author          QuanQuan <millionfor@apache.org>
	 * @Description     ${0}
	 */
